@inherits LayoutComponentBase

<div class="page">
    <div class="d-flex flex-column flex-shrink-1 p-3 bg-dark h-100" style="width: 280px;">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
