@using Microsoft.AspNetCore.Components.Authorization;
@using WebApp.Shared;
@using Newtonsoft.Json;

@page "/projects/create"

@inject HttpClient Http
@inject NavigationManager Navigation

<h3> Project create </h3>

<EditForm Model="projectItem" OnValidSubmit="CreateNewProject">

    <DataAnnotationsValidator />

    <div class="form-group">
        <label class="custom-control-label"> Name </label>
        <InputText id="title" @bind-Value="projectItem.ProjectName" class="form-control" />
        <InputText id="title" @bind-Value="projectItem.ProjectDescription" class="form-control" />
        <ValidationMessage For="@(() => projectItem.ProjectName)" />
    </div>

    <button type="submit" class="btn btn-primary">

        <i class="fas fa-save"></i>Create
    </button>
    <ValidationSummary />
</EditForm>



@code {

    private Project projectItem { get; set; } = new Project();

    private async void CreateNewProject()
    {

        try
        {
            var response = await Http.PostAsJsonAsync("Projects", projectItem);

            var content = await response.Content.ReadAsStringAsync();
            var project = JsonConvert.DeserializeObject<Project>(content);
            Navigation.NavigateTo($"/projects");

        } catch (Exception e)
            {

            }
    }
}