@using Microsoft.AspNetCore.Components.Authorization;
@using WebApp.Shared;

@page "/projects/edit/{id:guid}"

@inject HttpClient Http;
@inject NavigationManager Navigation;

<h3> Edit Project </h3>


@if (projectItem == null)
{
    <span> Getting the projectItem item to edit</span>
}
else
{
    <EditForm Model="@projectItem" OnValidSubmit="@SubmitChanges">

        <DataAnnotationsValidator />

        <div class="form-group">
            <label class="custom-control-label"> Name</label>
            <InputText id="title" @bind-Value="projectItem.ProjectName" class="form-control" />
            <InputText id="title" @bind-Value="projectItem.ProjectDescription" class="form-control" />
            <ValidationMessage For="@(() => projectItem.ProjectName)" />
        </div>

        <button type="submit" class="btn btn-primary">

            <i class="fas fa-save"></i>Save Changes
        </button>
        <ValidationSummary />
    </EditForm>
}


@code {

    [Parameter] public Guid Id {get; set;}
    private Project projectItem { get; set; } = new Project();

    protected override async Task OnInitializedAsync()
    {
        try {
            projectItem = await Http.GetFromJsonAsync<Project>($"Projects/{Id}");
        } catch (Exception e) {

        }
    }

    private async void SubmitChanges()
    {
        try
        {
            var response = await Http.PutAsJsonAsync<Project>($"Projects/{projectItem.ProjectId}", projectItem);
            response.EnsureSuccessStatusCode();
            Navigation.NavigateTo("/projects");
        } catch (Exception e)
        {

        }
    }
}