@page "/"
@inject HttpClient http;
@inject WebApp.Client.Services.IUserService UserService;
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using WebApp.Shared
 
<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />


<h3> User info (@users.Count())</h3>

<ul class="list-group">
    @if (users != null)
    {
        @foreach (var x in users)
        {
            <li class="list-group-item">
                <p>@x</p>
            </li>
        }
    }
    else
    {
        <p> The value is null</p>
    }
</ul>



@code {
    private List<ApplicationUser> users = new List<ApplicationUser>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            users = await http.GetFromJsonAsync<List<ApplicationUser>>("UsersController");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}